#top
{
	background: #606060;
}

.navbar-brand
{
	position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px 0 20px 0;
}

body
{
	background: url(../images/bg.jpg) top center no-repeat;
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 225, 225);
}

.summary
{
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	margin-top: 150px;
	padding: 0px;
	
}

.profile-card-top
{
	padding: 0px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #666667;
}

.profile-image
{
	position: relative;
	padding: 0px;
	display: inline-block;
}



.profile-image .image
{
	display: block;
	width: 100%;
	height: auto;
}

.profile-image .button
{
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
    width:100%;
    height:30px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    opacity: 0;
}

#changePhotoInput
{
	display: none;
}

.profile-image:hover .button
{
	opacity: 1;
}

.name h1
{
	display: inline-block;
}

.editButton
{
	background: url(../images/edit.png);
	background-size: contain;
	width: 40px;
	height: 40px;
	display: none;
	border: none;
	margin-left: 10px;
	background-color: #83cef2;
}

.editButton:hover
{
	
	
}

.editButton-hover
{
	background-color: #83cef2;
	opacity: 1;
}

.headline
{
	color: #666667;
}

.headline h3
{
	display: inline-block;
}

.headline .editButton
{
	width: 20px;
	height: 20px;
}

.location ul
{
	padding: 0px;
	display: inline-block;
}

.location .editButton
{
	width: 15px;
	height: 15px;
}

.location li
{
	display: inline;
	color:#666667;
	padding: 0px;
}

.location li a
{
	color:#666667;
}

.textCurrent 
{
	display: inline-block;
}

.detailCurrent
{
	display: inline-block;
}

.detailCurrent p
{
	display: inline-block;
}

.current .editButton
{
	width: 15px;
	height: 15px;
}

.previous .textPrevious .detailPrevious
{
	display: inline-block;
}

.detailPrevious p
{
	display: inline-block;
}

.previous .editButton
{
	width: 15px;
	height: 15px;
}

.detailEdu p
{
	display: inline-block;
}

.education .editButton
{
	width: 15px;
	height: 15px;
}

.detail
{
	margin-top: 30px;
	text-align: left;
}

.no-padding
{
	padding: 0;
}

.btnView
{
}

.follower
{
}

.profile-link
{
	background: rgb(246, 246, 246);
	padding-bottom: 10px;
	border-right: 1px solid gray;
}

.contact-info
{
	background: rgb(229, 229, 229);
	height: 100%;
	padding-bottom: 5px;
}

.contact-info img
{
	padding-top: 5px;
	padding-right: 10px
}

.contact-info p
{
	padding-top: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

.background
{
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	margin-top: 150px;
	padding: 0px;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 100px;
}

.bg-title
{
	background-color: black;
	width: 100px;
	height: 30px;
	padding-top: 5px;
	padding-left: 10px;
	color: white;
}

.bg_title h3
{
	padding-top: 5px;
	padding-left: 60px;
}

.bg_title img
{
	margin-left: 10px;
}

.detail 
{
	padding-left: 20px;
}

.pos
{
	color:gray;
}

.summaryTextContainer
{
	padding : 10px 50px 10px 50px;
}

.summaryText
{
	background-color: white;
}

.summaryText-focus
{
	background-color: #75cbff;
	color: white;
}

.summaryTextContainer p
{
	display: inline-block;
}

.summaryTextContainer .editButton
{
	width: 20px;
	height: 20px;
	float: left;
}

.show
{
	display: inline-block;
}

.hide
{
	display: none;
}

.editSummary
{
	width: 100%;
}

.confirmEdit
{
	display: block;
	clear: both;
}

.btnSave
{
	display: inline-block;
}

.btnCancel
{
	display: inline-block;
}

.editTextName
{
	display: none;
	margin-top: 20px;
	font-size: 30px;
}

.editTextHeadline
{
	display: none;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 24px;
}

.skill
{
	display: inline-block;
}

.deleteButton
{
	display: inline-block;
	width: auto;
	height: auto;
}

.projectNameContainer
{
	margin-bottom: 10px;
}

.projectDetailContainer
{

}

.inline-block
{
	display: inline-block;
}

.resetPass
{
	float: left;
	line-height: 34px;
}

.loginButton
{
	float: right;
	line-height: 34px;
}

.introReset
{
	margin-left: 45px;
}

.noteNormal
{
	color: black;
}

.noteSuccess
{
	color: #0066d8;
}

.noteError
{
	color: red;
}

.currentUser
{
	float:right;
	margin-top: 10px;
}

#facebookLoginBtn
{
	background: url(../images/facebook_login.png) no-repeat top left;
	background-size: 100%;
	width: 200px;
	height: 50px;
}

#googleLoginBtn
{
	background: url(../images/google_login.png) no-repeat top left;
	background-size: 100%;
	width: 200px;
	height: 50px;
}

.otherProvider
{
	float: left;
}

.dropdownUser
{
	float: right;
}