<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Linkedin</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<!--Gap left-->
			<div class="col-md-1"></div>

			<!--Main page-->
			<div id="page" class="container-fluid col-md-10" ng-app="linkedin" ng-controller="userProfile">
				<div class="summary container-fluid">
					<div class="profile-card-top container-fluid">
						<div class="col-md-4 profile-image">
							<img class="img-responsive" src="./images/profile_image.jpg" alt="profile-image">
						</div>

						<div class="col-md-8">
							<div class="basic-info">
								<div class="name">
									<h1 ng-model="name">{{name}}</h1>
								</div>
								<div class="headline">
									<h3>{{experience[0].position + " at " + experience[0].company}}</h3>
								</div>
								<div class="location">
									<ul>
										<li>
											<a href="#">San Francisco Bay Area</a>
										</li>
										<li>|</li>
										<li>
											<a href="#">Internet</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="detail">
								<div class="col-md-2 no-padding">
									<p>Current</p>
								</div>
								<div class="col-md-10 no-padding">
									<p ng-repeat="ex in experience" class="pull-left">{{ex.company + ", &nbsp"}}</p>
								</div>

								<div class="col-md-2 no-padding">
									<p>Previous</p>
								</div>
								<div class="col-md-10 no-padding">
									<p>Malaria No More, Accel Partners, Greylock</p>
								</div>

								<div class="col-md-2 no-padding">
									<p>Education</p>
								</div>
								<div class="col-md-10 no-padding">
									<p>{{education[0].school}}</p>
								</div>
							</div>

							<div class="follow-dropdown">
								<div class="row">
									<div class="dropdown pull-left connect-dropdown">
										<button class="btn btn-primary dropdown-toggle btn-follow" type="button" data-toggle="dropdown">Follow
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">View recent activity</a></li>
											<li><a href="#">Sent Jeff InEmail</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>
									<div class="connect pull-left">
										<p>Know Jeff?</p>
										<a href="#">Connect</a>
									</div>
									<div class="follower">
										<strong>4,042,487</strong>
										<p>followers</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="profile-card-bottom">
						<div class="col-md-10 profile-link container-fluid">
							<a href="#">https://www.linkedin.com/in/jeffweiner08</a>
						</div>

						<div class="col-md-2  contact-info container-fluid">
							<img src="./images/open.png" width="30px" height="20px" class="pull-left">
							<p>Contact Info</p>
						</div>
					</div>
				</div>

				<div class="background container-fluid">
					<p class="bg-title">Background</p>
					<div class="bg_summary">
						<div class="bg_title">
							<img src="./images/summary.png" width="30px" height="30px" class="pull-left">
							<h3>Summary</h3>
							<p ng-model="summary">{{summary}}</p>
						</div>
					</div>

					<div class="bg_experience">
						<div class="bg_title">
							<img src="./images/experience.png" width="30px" height="30px" class="pull-left">
							<h3>Experience</h3>
							<div class="detail" ng-repeat="ex in experience">
								<h4>{{ex.company}}</h4>
								<p class="pos"><i>{{ex.position}}</i></p>
								<p>{{ex.duration}}</p>
							</div>
						</div>
					</div>

					<div class="bg_project">
						<div class="bg_title">
							<img src="./images/project.png" width="30px" height="30px" class="pull-left">
							<h3>Project</h3>
							<div class="detail" ng-repeat="proj in project">
								<h4>{{proj.name}}</h4>
								<p>{{proj.detail}}</p>
							</div>
						</div>
					</div>

					<div class="bg_skills">
						<div class="bg_title">
								<img src="./images/skill.png" width="30px" height="30px" class="pull-left">
								<h3>Skills</h3>
								<h4 class="detail" ng-repeat="sk in skills">{{sk.name}}</h4>
						</div>
					</div>

					<div class="bg_education">
						<div class="bg_title">
							<img src="./images/education.png" width="30px" height="30px" class="pull-left">
							<h3>Education</h3>
						</div>
						<div class="detail" ng-repeat="edu in education">
								<h4>{{edu.school}}</h4>
								<p class="pos"><i>{{edu.certificate}}</i></p>
								<p>{{edu.duration}}</p>
							</div>
					</div>
				</div>
			</div>

			<!--Gap right-->
			<div class="col-md-1"></div>
			</div>
		</div>	
	   	<!--Javascripts part-->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/loadjson.js"></script>
	</body>
</html>