<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CVCreator</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
		<script src="js/angular.min.js"></script>
		<script src="js/loadjson.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/userauth.js"></script>
		<script src="js/googleAnalytics.js"></script>
  
	</head>
	<body>

		<!--User login modal-->
		<div id="modalLogin" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-md">
			<!-- Modal content-->
				<div class="modal-content">

				    <div class="modal-header">
						<h4 class="modal-title">Log in to create your own CV</h4>
				    </div>
				    <div class="modal-body">
				    	<form class="form-horizontal" role="form">
						    <div class="form-group">
						    	<label class="control-label col-sm-2" for="editLogEmail">Email</label>
						    	<div class="col-sm-10">
						    		<input type="email" class="form-control" value="" id="editLogEmail" placeholder="Enter email..."></input>
						    	</div>
						    </div>
						    <div class="form-group">
						    	<label class="control-label col-sm-2" for="editLogPassword">Password</label>
						    	<div class="col-sm-10">
						    		<input type="password" class="form-control" value="" id="editLogPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>
						    <div class="checkbox">
						    	<label>
						    		<input type="checkbox" id="checkboxRemember">Remember me
						    	</label>
						    </div>
						</form>
				    </div>
				    <div class="modal-footer">
				    	<div class="resetPass">
				    		<a href="#" data-dismiss="modal" id="resetPassword">Reset password</a>
				    	</div>
				    	<div class="loginButton">
				    		<p id="loginError" class="inline-block noteError"></p>
					  	    <button type="button" class="btn btn-primary inline-block" id="loginBtn">Log in</button>
					        <button type="button" class="btn btn-default inline-block" id="registerBtn">Register</button>
					    </div>
				    </div>
				    <div class="modal-footer">
				    	 <div class="otherProvider">
					    	<button type="button" class="btn" id="facebookLoginBtn"></button>
					    	<button type="button" class="btn" id="googleLoginBtn"></button>
					    </div>
				    </div>
				</div>
			</div>
		</div>
		<!--End user login modal-->	


		<!--Reset password modal-->
		<div id="modalReset" class="modal fade" role="dialog">
			<div class="modal-dialog modal-md">
			<!-- Modal content-->
				<div class="modal-content">
				    <div class="modal-header">
						<h4 class="modal-title">Reset password</h4>
				    </div>
				    <div class="modal-body">
				    	<form class="form-horizontal" role="form">
						    <div class="form-group">
						    	<label class="control-label col-sm-2" for="editResetEmail">Email</label>
						    	<div class="col-sm-10">
						    		<input type="email" class="form-control" value="" id="editResetEmail" placeholder="Enter your registered email..."></input>
						    	</div>
						    </div>
						    <div class="form-group">
						    	<p class="introReset"><i>New password will be sent to this email.</i></p>
						    </div>
						</form>
				    </div>
				    <div class="modal-footer">
				    	<div class="resetPass">
				    		<p id="resetResult" class="noteNormal"></p>
				    	</div>
				    	<div class="loginButton">
					  	    <button type="button" class="btn btn-primary inline-block" id="getNewPassBtn">Get new password</button>
					        <button type="button" class="btn btn-default inline-block" data-dismiss="modal" id="closeResetModalBtn">Close</button>
					    </div>

				    </div>
				</div>
			</div>
		</div>
		<!--End reset password modal-->


		<!--Register modal-->
		<div id="modalRegister" class="modal fade" role="dialog">
			<div class="modal-dialog modal-md">
			<!-- Modal content-->
				<div class="modal-content">
				    <div class="modal-header">
						<h4 class="modal-title">Register new account</h4>
				    </div>
				    <div class="modal-body">
				    	<form class="form-horizontal" role="form">
						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="editRegisEmail">Email</label>
						    	<div class="col-sm-8">
						    		<input type="email" class="form-control" value="" id="editRegisEmail" placeholder="Enter email..."></input>
						    	</div>
						    </div>

						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="confirmRegisEmail">Confirm email</label>
						    	<div class="col-sm-8">
						    		<input type="email" class="form-control" value="" id="confirmRegisEmail" placeholder="Enter email..."></input>
						    	</div>
						    </div>

						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="editRegisPassword">Password</label>
						    	<div class="col-sm-8">
						    		<input type="password" class="form-control" value="" id="editRegisPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>

						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="confirmRegisPassword">Confirm password</label>
						    	<div class="col-sm-8">
						    		<input type="password" class="form-control" value="" id="confirmRegisPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>
						</form>
				    </div>
				    <div class="modal-footer">
				    	<div class="resetPass">
				    		<p id="regisResult" class="noteSuccess"></p>
				    	</div>
				    	<div class="loginButton">
					  	    <button type="button" class="btn btn-primary inline-block" id="submitAccBtn">Submit</button>
					        <button type="button" class="btn btn-default inline-block" data-dismiss="modal" id="cancelRegisBtn">Cancel</button>
					    </div>

				    </div>
				</div>
			</div>
		</div>
		<!--End register modal-->

		<div class="header container-fluid">
			<div class="col-md-8"></div>
			<div class="currentUser col-md-3">
				<div class="dropdown dropdownUser">
					<button id="username" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">User name
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a id="changePassword" href="#">Change password</a></li>
						<li><a id="logOut" href="#">Log out</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>

		<!--Change password modal-->
		<div id="modalChangePassword" class="modal fade" role="dialog">
			<div class="modal-dialog modal-md">
			<!-- Modal content-->
				<div class="modal-content">
				    <div class="modal-header">
						<h4 class="modal-title">Change password</h4>
				    </div>
				    <div class="modal-body">
				    	<form class="form-horizontal" role="form">
						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="currentUserEmail">Email</label>
						    	<div class="col-sm-8">
						    		<input type="email" class="form-control" id="currentUserEmail" readonly="true"></input>
						    	</div>
						    </div>
						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="editOldPassword">Old password</label>
						    	<div class="col-sm-8">
						    		<input type="password" class="form-control" value="" id="editOldPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>

						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="editNewPassword">New password</label>
						    	<div class="col-sm-8">
						    		<input type="password" class="form-control" value="" id="editNewPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>

						    <div class="form-group">
						    	<label class="control-label col-sm-4" for="confirmNewPassword">Confirm new password</label>
						    	<div class="col-sm-8">
						    		<input type="password" class="form-control" value="" id="confirmNewPassword" placeholder="Enter password..."></input>
						    	</div>
						    </div>
						</form>
				    </div>
				    <div class="modal-footer">
				    	<div class="resetPass">
				    		<p id="changePasswordResult" class="noteNormal"></p>
				    	</div>
				    	<div class="loginButton">
					  	    <button type="button" class="btn btn-primary inline-block" id="saveNewPassword">Save</button>
					        <button type="button" class="btn btn-default inline-block" data-dismiss="modal" id="closeChangePassword">Close</button>
					    </div>

				    </div>
				</div>
			</div>
		</div>
		<!--End change password modal-->

		<div class="container-fluid">
			<!--Gap left-->
			<div class="col-md-1"></div>

			<!--Main page-->
			<div id="page" class="container-fluid col-md-10" ng-app="linkedin" ng-controller="userProfile as up">
				<div class="summary container-fluid" id="summaryInfo">
					<div class="profile-card-top container-fluid">
						<div class="col-md-4 profile-image">
							<img class="image" ng-src="{{avatar}}" alt="profile-image">
							<button class="button" ng-click="editPhoto()">Change photo</button>
							<!-- <input type="file" id="changePhotoInput" data-bind-file="" data-ng-model="avatar"></input>
 -->
							<!--File Choose-->
							<div id="modalFile" class="modal fade" role="dialog">
								<div class="modal-dialog modal-sm">
								<!-- Modal content-->
									<div class="modal-content">
									  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times</button>
											<h4 class="modal-title">Enter URL to your avatar</h4>
									  </div>
									  <div class="modal-body">
									    <div class="form-group">
									    	<label>URL</label>
									    	<input type="text" value="{{avatar}}" id="editPhotoURL"></input>
									    </div>
									  </div>
									  <div class="modal-footer">
									  	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="uploadPhoto()">Save</button>
									    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									  </div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-8">
							<div class="basic-info">
								<div class="name">
									<h1 id="textName" ng-mouseover="nameMouseOver()" ng-mouseleave="nameMouseLeave()" ng-click="textNameClick()">{{name}}</h1>
									<button type="button" id="editNameButton" class="editButton"></button>
									<textarea id="editTextName" class="editTextName" value="{{name}}" rows="1" ng-blur="completeEditTextName()">{{name}}</textarea>
								</div>
								<div class="headline">
									<h3 id="textHeadline" ng-mouseover="headlineMouseOver()" ng-mouseleave="headlineMouseLeave()" ng-click="textHeadlineClick()">{{experience[0].position + " at " + experience[0].company}}</h3>
									<button type="button" id="editHeadlineButton" class="editButton"></button>
									<textarea id="editTextHeadline" class="editTextHeadline" rows="1" ng-blur="completeEditTextHeadline()">{{experience[0].position + " at " + experience[0].company}}</textarea>
								</div>
								<div class="location" id="location" ng-mouseover="locationMouseOver()" ng-mouseleave="locationMouseLeave()" ng-click="locationClick()">
									<ul>
										<li>
											<a href="#" id="textAdress">{{address}}</a>
										</li>
										<li>|</li>
										<li>
											<a href="#"  id="textIndustry">{{industry}}</a>
										</li>
									</ul>
									<button type="button" id="locationEditButton" class="editButton" data-toggle="modal" data-target="#modalLocation"></button>

									<div id="modalLocation" class="modal fade" role="dialog">
										<div class="modal-dialog modal-sm">
										<!-- Modal content-->
											<div class="modal-content">
											  <div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times</button>
													<h4 class="modal-title">Edit address and industry</h4>
											  </div>
											  <div class="modal-body">
											    <div class="form-group">
											    	<label>Address</label>
											    	<input type="text" value="{{address}}" id="editAddress"></input>
											    </div>
											    <div class="form-group">
											    	<label>Industry</label>
											    	<input type="text" value="{{industry}}" id="editIndustry"></input>
											    </div>
											  </div>
											  <div class="modal-footer">
											  	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveLocation()">Save</button>
											    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="detail container-fluid">
								<div class="current">
									<div class="col-md-2 no-padding textCurrent">
										<p>Current</p>
									</div>
									<div class="col-md-10 no-padding detailCurrent"  ng-mouseover="currentMouseOver()" ng-mouseleave="currentMouseLeave()">
										<p ng-repeat="ex in current">{{ex.company + ", &nbsp"}}</p>	
										<button type="button" id="currentEditButton" class="editButton" ng-click="scrollTo('experience')"></button>
									</div>
								</div>
								<div class="col-md-12">
								</div>
								<div class="previous" >
									<div class="col-md-2 no-padding textPrevious"> 
										<p>Previous</p>
									</div>
									<div class="col-md-10 no-padding detailPrevious" ng-mouseover="previousMouseOver()" ng-mouseleave="previousMouseLeave()">
										<p ng-repeat="ex in previous" >{{ex.company + ", &nbsp"}}</p>
										<button type="button" id="previousEditButton" class="editButton" ng-click="scrollTo('experience')"></button>
									</div>
								</div>
								<div class="col-md-12">
								</div>
								<div class="education">
									<div class="col-md-2 no-padding textEdu">
										<p>Education</p>
									</div>
									<div class="col-md-10 no-padding detailEdu" ng-mouseover="educationMouseOver()" ng-mouseleave="educationMouseLeave()">
										<p>{{education[0].school}}</p>
										<button type="button" id="educationEditButton" class="editButton" ng-click="scrollTo('education')"></button>
									</div>
									
								</div>
							</div>

							<div class="view-follow">
								<div class="col-md-10">
									<button type="button" class="btn btn-primary btnView">View profile as</button>
								</div>
								<div class="follower col-md-2">
									<strong>4,042,487</strong>
									<p>followers</p>
								</div>
							</div>
						</div>
					</div>

					<div class="profile-card-bottom">
						<div class="col-md-10 profile-link container-fluid">
							<a href="#">https://www.linkedin.com/in/jeffweiner08</a>
						</div>

						<div class="col-md-2  contact-info container-fluid">
							<img src="./images/open.png" width="30px" height="20px" class="pull-left">
							<p>Contact Info</p>
						</div>
					</div>
				</div>

				<div class="background container-fluid" id="backgroundInfo">
					<p class="bg-title">Background</p>
					<div class="bg_summary container-fluid">
						<div class="bg_title">
							<img src="./images/summary.png" width="30px" height="30px" class="pull-left">
							<h3>Summary</h3>
							<div class="summaryTextContainer container-fluid">
								
									<p id="summaryText" class="slide-show col-md-10" ng-mouseover="summaryTextMouseOver()" ng-class = "{'summaryText-focus':summaryTextFocusing, 'summaryText':summaryTextLeft}" ng-mouseleave="summaryTextMouseLeave()" ng-click="edit('summary')">{{summary}}</p>
								
								<button type="button col-md-2" id="editSummaryButton" class="editButton"></button>
								<div id="summaryTextEditContainer" class="slide-down container-fluid">
									<textarea id="summaryTextEdit" class="hide col-md-10" rows="10" ng-class="{'show':editting}">{{summary}}</textarea>

									<div class="confirmEdit">
										<button class="btn btn-primary" ng-click="save('summary')" ng-class="{'btnSave': editting, 'hide':lostFocus}">Save</button>
										<button class="btn" ng-class="{'btnCancel': editting, 'hide':lostFocus}" ng-click="cancelSummary()">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bg_experience" id="bg_experience">
						<div class="bg_title">
							<img src="./images/experience.png" width="30px" height="30px" class="pull-left">
							<h3>Experience</h3>
							<div class="detail" ng-repeat="ex in experience">
								<h4>{{ex.company}}</h4>
								<p class="pos"><i>{{ex.position}}</i></p>
								<p>{{ex.duration}}</p>
								<button type="button" id="editExpButton{{$index}}" class="btn btn-primary" ng-click="editExp($index)">Edit</button>
								<button type="button" id="editExpButton{{$index}}" class="btn btn-danger" ng-click="deleteExp($index)">Delete</button>

								<!--Edit/Add Modal-->
								<div id="modalExperience" class="modal fade" role="dialog">
									<div class="modal-dialog modal-sm">
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times</button>
												<h4 class="modal-title">Edit experience</h4>
											</div>
											<div class="modal-body">
												<div class="form-group">
													<label>Company</label>
													<input type="text" id="editCompany"></input>
												</div>
												<div class="form-group">
													<label>Position</label>
													<input type="text" id="editPosition"></input>
												</div>
												<div class="form-group">
													<label>Duration</label>
													<input type="text" id="editDuration"></input>
												</div>
												<div class="form-group">
													<input type="checkbox" id="editCurrent">You are currently working here.</input>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveExperience()" data-target="#modalExperience">Save</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											</div>
										</div>
									</div>
								</div>
								<!--end modal-->

							</div>
							<div class="container-fluid col-md-12">
								<div class="col-md-4"></div>
								<button class="btn col-md-4" id="addExperience" ng-click="addExperience()">+ Add experience</button>
								<div class="col-md-4"></div>
							</div>
						</div>

						
					</div>

					<div class="bg_project">
						<div class="bg_title">
							<img src="./images/project.png" width="30px" height="30px" class="pull-left">
							<h3>Project</h3>
							<div class="detail" ng-repeat="proj in project">
								<h4>{{proj.name}}</h4>
								<p>{{proj.detail}}</p>
								<button type="button" id="editProjectButton{{$index}}" class="btn btn-primary" ng-click="editProject($index)">Edit</button>
								<button type="button" id="deleteProject{{$index}}" class="btn btn-danger" ng-click="deleteProject($index)">Delete</button>
							</div>
							<div class="container-fluid col-md-12">
								<div class="col-md-4"></div>
								<button class="btn col-md-4" id="addProject" ng-click="addProject()">+ Add project</button>
							<div class="col-md-4"></div>
							
						</div>
						</div>


						<!--Edit/Add Modal-->
						<div id="modalProject" class="modal fade" role="dialog">
							<div class="modal-dialog modal-md">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times</button>
										<h4 class="modal-title">Edit Projects</h4>
									</div>
									<div class="modal-body">
										<div class="form-group" class="projectNameContainer">
											<label class="col-md-2">Name</label>
											<input class="col-md-10" type="text" id="editProjectName"></input>
										</div>
										<div class="form-group" class="projectDetailContainer">
											<label class="col-md-2">Detail</label>
											<input class="col-md-10" type="text" id="editProjectDetail"></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveProject()">Save</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>
						<!--end modal-->

					</div>

					<div class="bg_skills">
						<div class="bg_title">
								<img src="./images/skill.png" width="30px" height="30px" class="pull-left">
								<h3>Skills</h3>
								<div ng-repeat="sk in skills" class="detail container-fluid">
									<h4 class="skill" id="skill{{$index}}">{{sk.name}}</h4>
									<button type="button" id="deleteSkillButton{{$index}}" class="btn btn-danger deleteButton" ng-click="deleteSkill($index)">X</button>
								</div>
								<div class="container-fluid col-md-12">
								<div class="col-md-4"></div>
								<button class="btn col-md-4" id="addSkill" ng-click="newSkill()">+ Add skill</button>
								<div class="col-md-4"></div>
						</div>

						<!--Edit/Add Modal-->
						<div id="modalSkill" class="modal fade" role="dialog">
							<div class="modal-dialog modal-sm">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times</button>
										<h4 class="modal-title">Add Skills</h4>
									</div>
									<div class="modal-body">
										<div class="form-group" class="projectNameContainer">
											<label class="col-md-2">Skill</label>
											<input class="col-md-10" type="text" id="editSkillName"></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addSkill()">Save</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>
						<!--end modal-->

					</div>

					<div class="bg_education" id="bg_education">
						<div class="bg_title">
							<img src="./images/education.png" width="30px" height="30px" class="pull-left">
							<h3>Education</h3>
						</div>
						<div class="detail" ng-repeat="edu in education">
								<h4>{{edu.school}}</h4>
								<p class="pos"><i>{{edu.certificate}}</i></p>
								<p>{{edu.duration}}</p>
								<button type="button" id="editSchoolButton{{$index}}" class="btn btn-primary" ng-click="editSchool($index)">Edit</button>
								<button type="button" id="deleteEducationBtn{{$index}}" class="btn btn-danger" ng-click="deleteSchool($index)">Delete</button>
						</div>
						<div>
							<div class="col-md-4"></div>
							<button class="btn col-md-4" id="addSchoolBtn" ng-click="addSchool()">+ Add school</button>
							<div class="col-md-4"></div>
						</div>

						<!--Edit/Add Modal-->
						<div id="modalEducation" class="modal fade" role="dialog">
							<div class="modal-dialog modal-md">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times</button>
										<h4 class="modal-title">Edit Education</h4>
									</div>
									<div class="modal-body">
										<div class="form-group" class="projectNameContainer">
											<label class="col-md-2">School</label>
											<input class="col-md-10" type="text" id="editSchool"></input>
										</div>
										<div class="form-group" class="projectNameContainer">
											<label class="col-md-2">Certificate</label>
											<input class="col-md-10" type="text" id="editCertificate"></input>
										</div>
										<div class="form-group" class="projectNameContainer">
											<label class="col-md-2">Duration</label>
											<input class="col-md-10" type="text" id="editSchoolDuration"></input>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveSchool()">Save</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>
						<!--end modal-->

					</div>
				</div>
			</div>

			<!--Gap right-->
			<div class="col-md-1"></div>
			</div>
		</div>	
	   	<!--Javascripts part-->

		<script src="js/bootstrap.min.js"></script>
		
	</body>
</html>